[mysqld]
bind-address = 0.0.0.0

# 错误日志
log-error = /var/log/mysql/error.log

# 普通查询日志（开启会有性能开销，建议调试时用）
general_log = on
general_log_file = /var/log/mysql/mysql.log

# 慢查询日志
slow_query_log = on
log-queries-not-using-indexes = on
slow_query_log_file = /var/log/mysql/slowquery.log
long_query_time = 2

# 字符集（推荐 utf8mb4）
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

# 时区
default-time-zone = '+08:00'
