package ${packageName}.domain;

#foreach ($import in $importList)
import ${import};
#end

#if(${enableLombok})
import lombok.Data;
import lombok.Builder;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
import lombok.experimental.Accessors;
#end

#if(${enableSwagger})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end

/**
 * ${functionName}对象 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */

#if(${enableLombok})
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@Accessors(chain = true)
#end
#if(${enableSwagger})
@ApiModel(value = "${packageName}.domain.${ClassName}", description = "${functionName}对象 ${tableName}")
#end
public class ${ClassName} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
    /** $column.columnComment */
#if($column.list)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#end
    #if(${enableSwagger})
    @ApiModelProperty(value = "$column.columnComment")
    #end
    private $column.javaType $column.javaField;

#end
#end

}
