package request

import (
    "time"
)

// Insert${ClassName}Request 新增${functionName}对象请求结构体
// @author ${author}
// @date ${datetime}
type Insert${ClassName}Request struct {
#foreach ($column in $columns)

    $column.goField $column.goType `json:"$column.javaField" form:"$column.javaField"`// $column.columnComment
#end

}

// Update${ClassName}Request 修改${functionName}对象请求结构体
// @author ${author}
// @date ${datetime}
type Update${ClassName}Request struct {
#foreach ($column in $columns)

    $column.goField $column.goType `json:"$column.javaField" form:"$column.javaField"`// $column.columnComment
#end

}

// PageList${ClassName}Request 列表查询${functionName}对象请求结构体
// @author ${author}
// @date ${datetime}
type PageList${ClassName}Request struct {
#foreach ($column in $columns)

    $column.goField $column.goType `json:"$column.javaField" form:"$column.javaField"`// $column.columnComment
#end

    Keyword  string `form:"keyword"` // 模糊搜索字段

    PageNum  int    `form:"pageNum"` // 页码
    PageSize int    `form:"pageSize"` // 页大小

    StartTime time.Time `form:"startTime" time_format:"2006-01-02 15:04:05"` // 开始时间
    EndTime   time.Time `form:"endTime" time_format:"2006-01-02 15:04:05"`   // 结束时间

}


