package resp

import (
    "fmt"
    "github.com/jinzhu/copier"
)

// ${ClassName}Resp ${functionName}对象响应结构体
// @author ${author}
// @date ${datetime}
type ${ClassName}Resp struct {

    model.${ClassName}

    Foo string `form:"foo"` // foo
    Bar string `form:"bar"` // bar
    // ...
}


// ModelToResp model 转化为 modelResp
func (${goReceiverName} *${ClassName}Resp) ModelToResp(${className} *model.${ClassName}) error {
    // go get github.com/jinzhu/copier

    if ${className} == nil {
        ${className} = &model.${ClassName}{} // copier.Copy 不会自动为其分配空间，所以初始化指针指向的结构体
    }
    err := copier.Copy(&${goReceiverName}, &${className})
    if err != nil {
        fmt.Printf("ModelToResp Copy error: %v", err)
        return err
    }
    return nil
}
