package dto

import (
    "fmt"
    "github.com/jinzhu/copier"
    "time"
)

// ${functionName}对象 ${ClassName}Dto
// @author ${author}
// @date ${datetime}
type ${ClassName}Dto struct {

    model.${ClassName}

    Keyword  string `form:"keyword"` // 模糊搜索字段

    PageNum  int    `form:"pageNum"` // 页码
    PageSize int    `form:"pageSize"` // 页大小

    SatrtTime time.Time `form:"satrtTime" time_format:"2006-01-02 15:04:05"` // 开始时间
    EndTime   time.Time `form:"endTime" time_format:"2006-01-02 15:04:05"`   // 结束时间
}



// DtoToModel modelDto 转化为 model
func (this *${ClassName}Dto) DtoToModel() (${className} *model.${ClassName}, err error){
    // go get github.com/jinzhu/copier

    ${className} = &model.${ClassName}{} // copier.Copy 不会自动为其分配空间，所以初始化指针指向的结构体
    err = copier.Copy(&${className}, &this)
    return
}


// ModelToDto model 转化为 modelDto
func (this *${ClassName}Dto) ModelToDto(${className} *model.${ClassName}) error {
    // go get github.com/jinzhu/copier

    err := copier.Copy(&this, &${className})
    if err != nil {
    fmt.Printf("DtoTo Copy error: %v", err)
        return err
    }
    return nil
}
