package model

import (
    "encoding/json"
    "errors"
    "fmt"
    "github.com/mitchellh/mapstructure"
    "gorm.io/gorm"
    "time"
)

// ${ClassName} ${functionName} 结构体
// @author ${author}
// @date ${datetime}
type ${ClassName} struct {

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
#if($column.list)
    #set($parentheseIndex=$column.columnComment.indexOf("（"))
    #if($parentheseIndex != -1)
        #set($comment=$column.columnComment.substring(0, $parentheseIndex))
    #else
        #set($comment=$column.columnComment)
    #end
#end

#set($tags = "column:$column.columnName")
#if($column.isPk == "1")
##    #set($void = $tags.add("primaryKey"))
    #set($tags = $tags + ";primaryKey")
#end
#if($column.isIncrement == "1")
##    #set($void = $tags.add("auto_increment"))
    #set($tags = $tags + ";auto_increment")
#end
#if($column.isNullable == "1")
##    #set($void = $tags.add("not null"))
    #set($tags = $tags + ";not null")
#end
## 默认值（需转义引号）
#if($column.columnDefault && $column.columnDefault != "")
##    #set($void = $tags.add("default:'$column.columnDefault'"))
    #set($tags = $tags + ";default:'$column.columnDefault'")
#end
## 指定字段类型
#if($column.columnType && $column.columnType != "")
##    #set($void = $tags.add("type:$column.columnType"))
    #set($tags = $tags + ";type:$column.columnType")
#end
## 指定字段类型
    ###if($column.columnComment && $column.columnComment != "")
    ##    #set($void = $tags.add("comment:$column.columnComment"))
    ###end
###set($gormTag = $tags.join(";"))
$column.goField $column.goType `gorm:"$tags" json:"$column.javaField" form:"$column.javaField"`// $column.columnComment
#end
#end

    // todo update The following predefined fields

    Version uint `gorm:"column:version;default:1" json:"version"` // 乐观锁（版本控制）

    Remark string `gorm:"column:remark;" description:"备注"` // 备注

    DeletedAt gorm.DeletedAt `gorm:"column:deleted_at;type:datetime" json:"deletedAt"` // 删除标记, 删除时间 GORM 默认启用了“软删除（Soft Delete）”只要存在这个字段，GORM 默认启用软删除。

    DeletedBy uint64 `gorm:"column:deleted_by;type:bigint" json:"deletedBy"` // 删除人id

    CreatedAt time.Time `gorm:"column:created_at;type:datetime" json:"createdAt"` // 创建时间

    CreatedBy uint64 `gorm:"column:created_by;type:bigint" json:"createdBy"` // 创建人id

    UpdatedAt time.Time `gorm:"column:updated_at;type:datetime" json:"updatedAt"` // 更新时间

    UpdatedBy uint64 `gorm:"column:updated_by;type:bigint" json:"updatedBy"` // 更新人id

    // time_format:"2006-01-02 15:04:05"
}

// TableName 返回当前实体类的表名
func (this *${ClassName}) TableName() string {
    return "${tableName}"
}


// 可用钩子函数包括：
// BeforeCreate / AfterCreate
// BeforeUpdate / AfterUpdate
// BeforeDelete / AfterDelete
func (this *${ClassName}) BeforeCreate(tx *gorm.DB) (err error) {
    this.CreateTime = time.Now()
    this.UpdateTime = time.Now()
    return
}

func (this *${ClassName}) BeforeUpdate(tx *gorm.DB) (err error) {
    this.UpdateTime = time.Now()
    return
}

// MapTo${ClassName} map映射转化为当前结构体
func MapTo${ClassName}(inputMap map[string]any) (*${ClassName}) {
    //go get github.com/mitchellh/mapstructure

    var ${className} ${ClassName}
    err := mapstructure.Decode(inputMap, &${className})
    if err != nil {
        fmt.Printf("MapToStruct Decode error: %v", err)
        return nil
    }
    return &${className}
}

// ${ClassName}ToMap 当前结构体转化为map映射
func (this *${ClassName}) ${ClassName}ToMap() (map[string]any) {
    var m map[string]any
    bytes, err := json.Marshal(this)
    if err != nil {
        fmt.Printf("StructToMap marshal error: %v", err)
        return nil
    }

    err = json.Unmarshal(bytes, &m)
    if err != nil {
        fmt.Printf("StructToMap unmarshal error: %v", err)
        return nil
    }
    return m
}



// 由于有时需要开启事务，因此 DB *gorm.DB 选择从外部传入

// Insert${ClassName} 新增${functionName}
func (this *${ClassName}) Insert${ClassName}(DB *gorm.DB) (int, error) {
    fmt.Printf("Insert${ClassName}：%#v \n", this)

    // 先查询是否有相同 name 的数据存在
    temp := &${ClassName}{}
    // todo update name
    tx := DB.Where("name = ?", this.?).First(temp)
    fmt.Printf("Insert${ClassName}.Where：%#v \n", temp)
    if !errors.Is(tx.Error, gorm.ErrRecordNotFound) {
        return 0, errors.New("Insert${ClassName}.Where, 存在相同name: " + temp.?)
    }

    // 执行 Insert
    err := DB.Create(&this).Error

    if err != nil {
        return 0, errors.New("Insert${ClassName}.DB.Create, 新增失败: " + err.Error())
    }
    return 1, nil
}

// BatchInsert${ClassName}s 批量新增${functionName}
func (this *${ClassName}) BatchInsert${ClassName}s(DB *gorm.DB, tables []${ClassName}) (int, error) {

    result := DB.Create(&tables)

    if result.Error != nil {
        return 0, errors.New("BatchInsert${ClassName}s.DB.Create, 新增失败: " + result.Error.Error())
    }
    return int(result.RowsAffected), nil
}

// Update${ClassName}By${pkColumn.capJavaField} 根据主键修改${functionName}的所有字段
func (this *${ClassName}) Update${ClassName}By${pkColumn.capJavaField}(DB *gorm.DB) (int, error) {
    fmt.Printf("Update${ClassName}By${pkColumn.capJavaField}：%#v \n", this)

    // 1、查询该id是否存在
    if this.${pkColumn.capJavaField} == 0 {
        return 0, errors.New("${pkColumn.capJavaField} 不能为空！！！: ")
    }

    // 2、再看看name是否重复
    temp := &${ClassName}{}
    // todo update name
    tx := DB.Where("name = ?", this.?).First(temp)
    fmt.Printf("Update${ClassName}By${pkColumn.capJavaField}.Where：%#v \n", temp)
    if !errors.Is(tx.Error, gorm.ErrRecordNotFound) && temp.${pkColumn.capJavaField} != this.${pkColumn.capJavaField} {
        return 0, errors.New("Update${ClassName}By${pkColumn.capJavaField}.Where, 存在相同name: " + temp.?)
    }

    // 3、执行修改
    //保存整个结构体（全字段更新）
    saveErr := DB.Save(this).Error
    if saveErr != nil {
        return 0, errors.New("Update${ClassName}By${pkColumn.capJavaField}.Save, 修改失败: " + saveErr.Error())
    }
    return 1, nil
}

// Update${ClassName}Selective 修改${functionName}不为默认值的字段
func (this *${ClassName}) Update${ClassName}Selective(DB *gorm.DB) (int, error) {
    fmt.Printf("Update${ClassName}Selective：%#v \n", this)

    // db.Model().Updates()：只更新指定字段
    err := DB.Model(this).
        Where("${pkColumn.columnName} = ?", this.${pkColumn.capJavaField}).
        Updates(this).
        Error
    if err != nil {
        return 0, errors.New("Update${ClassName}Selective.Updates, 选择性修改失败: " + err.Error())
    }

    return 1, nil
}

// Delete${ClassName} 删除${functionName}
func (this *${ClassName}) Delete${ClassName}(DB *gorm.DB, ${pkColumn.javaField}List []int64) (int, error) {
    fmt.Printf("Delete${ClassName}：%#v \n", ${pkColumn.javaField}List)

    // 当存在DeletedAt gorm.DeletedAt字段时为软删除，否则为物理删除
    result := DB.Delete(&this, "${pkColumn.columnName} in ?", ${pkColumn.javaField}List)
    // result := DB.Model(&this).Where("${pkColumn.columnName} IN ?", tableIdList).Update("state", 0)
    if result.Error != nil {
        return 0, errors.New("Delete${ClassName}.Delete, 删除失败: " + result.Error.Error())
    }

    //// 以下使用的是物理删除
    //result := DB.Unscoped().Delete(this, "${pkColumn.columnName} in ?", ${pkColumn.javaField}List)
    //if result.Error != nil {
    //	return 0, errors.New("Delete${ClassName}.Delete, 删除失败: " + result.Error.Error())
    //}

    return int(result.RowsAffected), nil
}

// BatchDelete${ClassName}s 根据主键批量删除${functionName}
func (this *${ClassName}) BatchDelete${ClassName}s(DB *gorm.DB, ${pkColumn.javaField}List []int64) error {
    return DB.Where("${pkColumn.columnName} IN ?", ${pkColumn.javaField}List).Delete(&this).Error
}

// Find${ClassName}By${pkColumn.capJavaField} 获取${functionName}详细信息
func (this *${ClassName}) Find${ClassName}By${pkColumn.capJavaField}(DB *gorm.DB, ${pkColumn.javaField} int64) (error) {
    fmt.Printf("Delete${ClassName}：%#v \n", ${pkColumn.javaField})
    return DB.First(this, "${pkColumn.columnName} = ?", ${pkColumn.javaField}).Error
}

// Find${ClassName}sBy${pkColumn.capJavaField}List 根据主键批量查询${functionName}详细信息
func Find${ClassName}sBy${pkColumn.capJavaField}List(DB *gorm.DB, ${pkColumn.javaField}List []int64) ([]${ClassName}, error) {
    var result []${ClassName}
    err := DB.Where("id IN ?", ${pkColumn.javaField}List).Find(&result).Error
    return result, err
}

// Find${ClassName}List 查询${functionName}列表
func (this *${ClassName}) Find${ClassName}List(DB *gorm.DB, satrtTime time.Time, endTime time.Time) ([]${ClassName}, error) {
    fmt.Printf("Get${ClassName}List：%#v \n", this)

    var tables []${ClassName}
    query := DB.Model(this)

        // 构造查询条件
#foreach($column in $columns)
    #set($queryType=$column.queryType)
    #set($javaField=$column.javaField)
    #set($javaType=$column.javaType)
    #set($columnName=$column.columnName)
    #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
    #if($column.query)
        #set($tags = "=")
        #if($column.queryType == "EQ")
            #set($tags = "=")
        #elseif($queryType == "NE")
            #set($tags = "!=")
        #elseif($queryType == "GT")
            #set($tags = ">")
        #elseif($queryType == "GTE")
            #set($tags = ">=")
        #elseif($queryType == "LT")
            #set($tags = "<")
        #elseif($queryType == "LTE")
            #set($tags = "<=")
        #elseif($queryType == "LIKE")
            #set($tags = "LIKE")
        #elseif($queryType == "BETWEEN")
        #end
        #if($column.goType == 'time.Time')
        if !this.${column.goField}.IsZero() {
            query = query.Where("$columnName $tags ?", this.$column.goField)
            // query = query.Where("DATE($columnName) $tags ?", this.$column.goField.Format("2006-01-02"))
        }
        #else
        if this.$column.goField != #if($column.goType == 'string')""#elseif($column.goType.contains("int"))0#end { query = query.Where("$columnName $tags ?",#if($tags == "LIKE") "%" + this.$column.goField + "%"#else this.$column.goField #end) }
        #end
    #end
#end

    if !satrtTime.IsZero() {
        query = query.Where("create_time >= ?", satrtTime)
    }
    if !endTime.IsZero() {
        query = query.Where("create_time <= ?", endTime)
    }

    // // 添加分页逻辑
    // if ${className}.PageNum > 0 && ${className}.PageSize > 0 {
    //     offset := (${className}.PageNum - 1) * ${className}.PageSize
    //     query = query.Offset(offset).Limit(${className}.PageSize)
    // }

    err := query.Find(&tables).Error
    return tables, err
}

// Find${ClassName}PageList 分页查询${functionName}列表
func (this *${ClassName}) Find${ClassName}PageList(DB *gorm.DB, satrtTime time.Time, endTime time.Time, pageNum int, pageSize int) ([]${ClassName}, int64, error) {
    fmt.Printf("Get${ClassName}PageList：%#v \n", this)

    var (
        ${className}s []${ClassName}
        total     int64
    )

    query := DB.Model(&${ClassName}{})

// 构造查询条件
#foreach($column in $columns)
    #set($queryType=$column.queryType)
    #set($javaField=$column.javaField)
    #set($javaType=$column.javaType)
    #set($columnName=$column.columnName)
    #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
    #if($column.query)
        #set($tags = "=")
        #if($column.queryType == "EQ")
            #set($tags = "=")
        #elseif($queryType == "NE")
            #set($tags = "!=")
        #elseif($queryType == "GT")
            #set($tags = ">")
        #elseif($queryType == "GTE")
            #set($tags = ">=")
        #elseif($queryType == "LT")
            #set($tags = "<")
        #elseif($queryType == "LTE")
            #set($tags = "<=")
        #elseif($queryType == "LIKE")
            #set($tags = "LIKE")
        #elseif($queryType == "BETWEEN")
        #end
        #if($column.goType == 'time.Time')
        if !this.${column.goField}.IsZero() {
            query = query.Where("$columnName $tags ?", this.$column.goField)
            // query = query.Where("DATE($columnName) $tags ?", this.$column.goField.Format("2006-01-02"))
        }
        #else
        if this.$column.goField != #if($column.goType == 'string')""#elseif($column.goType.contains("int"))0#end { query = query.Where("$columnName $tags ?",#if($tags == "LIKE") "%" + this.$column.goField + "%"#else this.$column.goField #end) }
        #end
    #end
#end

    if !satrtTime.IsZero() {
        query = query.Where("create_time >= ?", satrtTime)
    }
    if !endTime.IsZero() {
        query = query.Where("create_time <= ?", endTime)
    }

    // 查询总数
    if err := query.Count(&total).Error; err != nil {
        return nil, 0, err
    }

    // 分页参数默认值
    if pageNum <= 0 {
        pageNum = 1
    }
    if pageSize <= 0 {
        pageSize = 10
    }

    // 分页数据
    // todo update create_time
    err := query.
        Limit(pageSize).Offset((pageNum - 1) * pageSize).
        Order("create_time desc").
        Find(&${className}s).Error

    if err != nil {
        return nil, 0, err
    }

    return ${className}s, total, nil
}

