package req

import (
    "fmt"
    "github.com/jinzhu/copier"
    "time"
)

// ${ClassName}Req ${functionName}对象请求结构体
// @author ${author}
// @date ${datetime}
type ${ClassName}Req struct {
#foreach ($column in $columns)

    $column.goField $column.goType `json:"$column.javaField" form:"$column.javaField"`// $column.columnComment
#end

    Keyword  string `form:"keyword"` // 模糊搜索字段

    PageNum  int    `form:"pageNum"` // 页码
    PageSize int    `form:"pageSize"` // 页大小

    SatrtTime time.Time `form:"satrtTime" time_format:"2006-01-02 15:04:05"` // 开始时间
    EndTime   time.Time `form:"endTime" time_format:"2006-01-02 15:04:05"`   // 结束时间

}


