package model

import (
    "gorm.io/gorm"
    "time"
)

// ${ClassName} ${functionName}结构体
// @author ${author}
// @date ${datetime}
type ${ClassName} struct {
#foreach ($column in $columns)

    $column.goField $column.goType `gorm:"$column.goGormTarget" json:"$column.javaField" form:"$column.javaField"`// $column.columnComment
#end

    // todo update The following predefined fields

    Version uint `gorm:"column:version;default:1" json:"version"` // 乐观锁（版本控制）

    Remark string `gorm:"column:remark;" description:"备注"` // 备注

    CreatedAt time.Time `gorm:"column:created_at;type:datetime" json:"createdAt"` // 创建时间

    CreatedBy uint64 `gorm:"column:created_by;type:bigint" json:"createdBy"` // 创建人id

    UpdatedAt time.Time `gorm:"column:updated_at;type:datetime" json:"updatedAt"` // 更新时间

    UpdatedBy uint64 `gorm:"column:updated_by;type:bigint" json:"updatedBy"` // 更新人id

    DeletedAt gorm.DeletedAt `gorm:"column:deleted_at;type:datetime" json:"deletedAt"` // 删除标记, 删除时间 GORM 默认启用了“软删除（Soft Delete）”只要存在这个字段，GORM 默认启用软删除。

    DeletedBy uint64 `gorm:"column:deleted_by;type:bigint" json:"deletedBy"` // 删除人id

    // time_format:"2006-01-02 15:04:05"
}

// TableName 返回当前实体类的表名
func (${goReceiverName} *${ClassName}) TableName() string {
    return "${tableName}"
}

// CreateTable 根据结构体里面的gorm信息创建表结构
func (${goReceiverName} *${ClassName}) CreateTable(tx *gorm.DB) error {
    tableName := ${goReceiverName}.TableName()
    if !tx.Migrator().HasTable(tableName) {
        return tx.Set("gorm:table_options", "ENGINE=InnoDB CHARSET=utf8mb4 COMMENT='${functionName}'").
			Table(tableName).Migrator().CreateTable(&${ClassName}{})
    }
    return nil
}

// 可用钩子函数包括：BeforeCreate / AfterCreate、BeforeUpdate / AfterUpdate、BeforeDelete / AfterDelete
// BeforeCreate 在插入数据之前执行的操作
func (${goReceiverName} *${ClassName}) BeforeCreate(tx *gorm.DB) (err error) {
    if err = ${goReceiverName}.CreateTable(tx); err != nil {
        return err
    }

    ${goReceiverName}.CreatedAt = time.Now()
    ${goReceiverName}.UpdatedAt = time.Now()
    return
}

func (${goReceiverName} *${ClassName}) BeforeUpdate(tx *gorm.DB) (err error) {
    ${goReceiverName}.UpdatedAt = time.Now()
    return
}
