package router

import (
    "github.com/gin-gonic/gin"
)

// ${ClassName}Router ${functionName} 路由Router层
type ${ClassName}Router struct {
    ${className}Controller *controller.${ClassName}Controller
}

// New${ClassName}Router 创建 ${ClassName} ${functionName} 路由Router层
func New${ClassName}Router(${className}Controller *controller.${ClassName}Controller) *${ClassName}Router {
    return &${ClassName}Router{
        ${className}Controller: ${className}Controller,
    }
}

// Init${ClassName}Router 初始化 ${ClassName}Router 路由
func (${goReceiverName}r *${ClassName}Router) Init${ClassName}Router(privateRouterOrigin *gin.RouterGroup, publicRouterOrigin *gin.RouterGroup) {
    privateRouter := privateRouterOrigin.Group("/${businessName}")
    {
        // PrivateRouter 下是一些必须进行登录的接口
        // http://localhost:8080/private

        privateRouter.POST("", ${goReceiverName}r.${className}Controller.Insert${ClassName})         // 新增${functionName}
        privateRouter.PUT("", ${goReceiverName}r.${className}Controller.Update${ClassName})          // 修改${functionName}
        privateRouter.DELETE("/:${pkColumn.javaField}List", ${goReceiverName}r.${className}Controller.Delete${ClassName})       // 删除${functionName}
        privateRouter.GET("/:${pkColumn.javaField}", ${goReceiverName}r.${className}Controller.Get${ClassName}By${pkColumn.capJavaField})  // 获取${functionName}详细信息
        privateRouter.GET("/list", ${goReceiverName}r.${className}Controller.Get${ClassName}List)     // 查询${functionName}列表
        privateRouter.GET("/pageList", ${goReceiverName}r.${className}Controller.Get${ClassName}PageList) // 分页查询${functionName}列表
        privateRouter.GET("/export", ${goReceiverName}r.${className}Controller.Export${ClassName})       // 导出${functionName}列表
        privateRouter.POST("/import", ${goReceiverName}r.${className}Controller.Import${ClassName})       // 导入${functionName}列表
    }

    publicRouter := publicRouterOrigin.Group("/${businessName}")
    {
        // PublicRouter 下是一些无需登录的接口，可以直接访问，无须经过授权操作
        // http://localhost:8080/public

        publicRouter.POST("", ${goReceiverName}r.${className}Controller.Insert${ClassName})         // 新增${functionName}
        publicRouter.PUT("", ${goReceiverName}r.${className}Controller.Update${ClassName})          // 修改${functionName}
        publicRouter.DELETE("/:${pkColumn.javaField}", ${goReceiverName}r.${className}Controller.Delete${ClassName})       // 删除${functionName}
        publicRouter.GET("/:${pkColumn.javaField}", ${goReceiverName}r.${className}Controller.Get${ClassName}By${pkColumn.capJavaField})  // 获取${functionName}详细信息
        publicRouter.GET("/list", ${goReceiverName}r.${className}Controller.Get${ClassName}List)     // 查询${functionName}列表
        publicRouter.GET("/pageList", ${goReceiverName}r.${className}Controller.Get${ClassName}PageList) // 分页查询${functionName}列表
        publicRouter.GET("/export", ${goReceiverName}r.${className}Controller.Export${ClassName})       // 导出${functionName}列表
        privateRouter.POST("/import", ${goReceiverName}r.${className}Controller.Import${ClassName})       // 导入${functionName}列表
    }
}
